
<section class="form-auth text-center">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<form class="form-signin">
      <!-- img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
      <br>
      <br>
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <label for="inputEmail" class="sr-only">Email address</label>
      <%= f.email_field :email, id:"inputEmail", class:"form-control", placeholder:"Email address", required:"", autofocus:"" %>

      <label for="inputPassword" class="sr-only">Password</label>
      <%= f.password_field :password, autocomplete: "current-password", type:"password", id:"inputPassword", class:"form-control", placeholder:"Password", required:"" %>


      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted">© 2020</p>
    <% end %>

<%= render "devise/shared/links" %>
</section>