.property-thumb {
  height:196px;
}

.property-main-photo{
  height: 700px;
  background-size: cover;
  margin-bottom:40px;
}

#prop-details {
  height: 150px;
  overflow: hidden;

  &.open {
    height: auto;

  }
}